.homePageWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Acme", sans-serif;
  background-color: #cbcbcb;

  .header {
    position: relative;
    height: 50vh;
    width: 100%;
    background: url("../AdminPage/bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .title {
      font-size: 25px;
      height: 70px;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7a3a3a;
      box-shadow: 0px 0px 20px #fff;
      border-radius: 10px;
      color: #fdeaea;
    }
    .searchArea {
      display: flex;
      flex-direction: row;
      width: 40%;
      background-color: #8968;
      border-radius: 20px;

      input {
        background-color: #d9d9d9;
        color: #000;
        opacity: 0.5;
        height: 50px;
        width: 70%;
        border: none;
        padding: 0px;
        font-size: 30px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        &:focus {
          outline: none;
        }
      }
      button {
        width: 30%;
        height: 50px;
        font-size: 25px;
        background-color: #ee0000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: none;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        cursor: pointer;

        img {
          height: 40px;
          width: 40px;
        }
      }
    }
    a {
      height: 50px;
      width: 120px;
      background-color: #d9d9d9;
      padding: auto;
      display: flex;
      box-shadow: 0px 0px 10px #000;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .reports {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      a {
        height: 150px;
        width: 150px;
        border: solid 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 10px;
        background-color: #b6b5b5;
        text-decoration: none;
        color: #000;
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
          background-color: orange;
        }
      }
    }
  }
  .management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

    ul {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      a {
        height: 150px;
        width: 150px;
        border: solid 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 10px;
        background-color: #b6b5b5;
        text-decoration: none;
        color: #000;
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
          background-color: orange;
        }
      }
    }
  }
  .orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  // .books {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   flex-wrap: wrap;
  // }
}
